@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800');

body {
    background-color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    color: #ffffff;

    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

button:focus {
	background: transparent !important;
}

.knopka {
	padding: 0 0.65rem;
} 

header .navbar .navbar-burger:focus {
    box-shadow: none;
}

h1,
h2,
h3 {
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
}

h2 {
    font-size: 2rem;
    letter-spacing: 0.5rem;
}

h3 {
	font-size: 1.2rem;
	color: #000;
	letter-spacing: 0.3rem;
}

h4 {
	font-size: 1.2rem;
	color: #000;
	text-transform: none;
}

.vero {
	color: #19bd9a;
}

nav.navbar, nav.navbar .navbar-brand .navbar-burger {
    background-color: transparent;
}

nav.navbar .navbar-brand .navbar-burger {
	padding-right: 8rem;
}

nav.navbar .navbar-brand a {
	padding-left: 5rem;
}


.navbar-item {
	color: #fff;
    font-size: 16px;
    font-weight: 300;
    line-height: 1;
}

nav.navbar {
    background-color: transparent;
    align-items: center;
}

#NavMenu {
	background-color: transparent;
	padding-left: 5rem;
}

.button {
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    border: none;
    background-color: #b12525;
}

.button:hover,
.button:focus {
    color: #fff;
    background-color: #a52222;
}

.undertitle span {
    display: block;
    width: 100%;
    height: .1rem;
    margin: 0 auto;
    background-color: #fff;
}

.undertitle span:not(:last-child) {
    margin-bottom: .9rem;
}

.undertitle span:nth-child(2) {
    width: 80%;
}

.undertitle span:last-child {
    width: 60%;
}




/* HEADER */




header {
	padding: 2.6rem 0;
	background: url('../img/header.png') no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
}

header .navbar .navbar-brand a {
	color: #fff;
	font-weight: 600;
	font-size: 2.5rem;
	text-transform: uppercase;

}

header .navbar .navbar-menu a:hover, header .navbar .navbar-menu a:focus {
	background-color: transparent;
	color: #fff;
	border-radius: 1.5rem;
	border: 1px solid #fff;
	padding: 0 1.5rem;
}

#headerwrap {
	padding: 8rem 0;
}

#headerwrap a {
	border-radius: 50%;
	margin: 11rem 0;
}




/* MAIN */



main {
	padding: 5rem 0;
}

main p {
	color: #bdc4cb;
	margin-top: 2rem;
}

main button.button,
main button.button:hover {
	background-color: transparent;
	color: #000;
	border: 1px solid #000;
	border-radius: 1rem;
	padding: 0 1.6rem;
	margin-top: 2rem;
}

main #phone img {
	margin-top: -1.5rem;
}

main #details {
	background-color: #f3f3f3;
	padding: 4rem 0;
}

main #details img {
	padding-right: 1rem;
	padding-top: 2rem;
}

main #projects {
	padding-top: 4rem;
}

main #projects .whiskey {
	background: url('../img/whiskey.png') no-repeat;
	height: 310px;
	background-size: 100%;
}

main #projects .vintage {
	background: url('../img/vintage.png') no-repeat;
	height: 310px;
	background-size: 100%;
}

main #projects .branding {
	background: url('../img/branding.png') no-repeat;
	height: 310px;
	background-size: 100%;
}

main #projects .projects-bg {
	background: url('../img/projects-bg.png') no-repeat;
	padding-bottom: 2rem;
}

main #projects .projects-bg p {
	font-size: 1.1rem;
}

main #projects .projects-bg .button {
	color: #fff;
	border-color: #fff;
	margin-top: 2rem;
}

main #projects .projects-bg span {
	color: #fff;
}

main #services {
	background-color: #f3f3f3;
	padding-top: 4rem;
	padding-bottom: 6rem;
}

main #services .perc {
	align-items: center;
}

main #services .perc p {
	margin: 0;
	font-size: 1.05rem;
}

main #impressed {
	background: url('../img/impressed-bg.png') no-repeat;
	padding-top: 4rem;
	padding-bottom: 4rem;
}

main #impressed p {
	color: #656565;
	font-weight: 400;
}

main #impressed h3 {
	color: #b2b3b3;
}

main #impressed span {
	text-transform: uppercase;
}

main #impressed span:nth-of-type(1) {
	text-transform: uppercase;
	font-size: 0.99rem;
	color: #b2b3b3;
	font-weight: 600;
}

main #impressed span:nth-of-type(2) > span {
	color: #19bd9a;
}

main #impressed .screen {
	margin-top: -6rem;
}

main #portfolio {
	padding-top: 4rem;
}

main #portfolio .images {
	word-spacing: 2rem;
}

main #portfolio .images span {
	display: inline-block;
	word-spacing: 0;
	color: #000;
	cursor: pointer;
}

main #portfolio .images span:after {
	display: block;
	content: "";
    height: 2px;
    width: 0%;
    background-color: #19bd9a;
    margin-top: 0.5rem !important;
}

main #portfolio .images span:hover:after, main #portfolio .images span:focus:after {
	width: 2rem;
    margin: auto;
}